---
import Card from './Card/index.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="关于我">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>Vue</li>
        <li>Astro</li>
        <li>Nodejs</li>
        <li>Java</li>
      </ul>
    </div>
  </div>
</Card>
